<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Компании</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/css/css_adm_company.css">
    <link rel="icon" href="/static/image/Frame-30.ico" type="image/x-icon">
    <script src="static/js/app.js"></script>
</head>

<body>
    <div class="header-container">
        <div class="str_verh">
            <div class="logo-container">
                <img src="/static/image/logo2.PNG" alt="logo">
            </div>
        </div>
        <div class="avtor"></div>
    </div>

    <div class="container">
        <div class="menu">
            <h1>Навигация</h1>
            <ul>
                <li>
                    <a href="/">
                        <img src="/static/image/frame12.png" class="img">
                        <h3>Главная</h3>
                    </a>
                </li>
                <li>
                    <a href="/monitor">
                        <img src="/static/image/frame13.png" class="img">
                        <h3>Монитор ТА</h3>
                    </a>
                </li>
                <li class="has-submenu">
                    <a>
                        <img src="/static/image/frame14.png" class="img">
                        <h3>
                            Детальные отчеты
                            <span class="submenu-indicator">▼</span>
                        </h3>
                    </a>
                    <ul class="submenu">
                        <li><a href="/sales">Отчет торговые автоматы</a></li>
                        <li><a href="/stock">Отчет мониторы</a></li>
                        <li><a href="/movements">Отчет компании</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a>
                        <img src="/static/image/frame16.png" class="img">
                        <h3>
                            Учет ТМЦ
                            <span class="submenu-indicator">▼</span>
                        </h3>
                    </a>
                    <ul class="submenu">
                        <li><a href="/water">Аппараты для напитков</a></li>
                        <li><a href="/sweet">Аппараты для сладостей</a></li>
                        <li><a href="/snacks">Аппараты для снэков</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a>
                        <img src="/static/image/frame15.png" class="img">
                        <h3>
                            Администрирование
                            <span class="submenu-indicator">▼</span>
                        </h3>
                    </a>
                    <ul class="submenu">
                        <li><a href="/torgavt">Торговые автоматы</a></li>
                        <li><a href="/company">Компании</a></li>
                        <li><a href="/polsivat">Пользователи</a></li>
                        <li><a href="/modem">Модемы</a></li>
                        <li><a href="/dop">Дополнительно</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/products">
                        <img src="/static/image/frame12.png" class="img">
                        <h3>Товары</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="str">
            <div class="verh">
                <div class="zaeb">
                    <div class="plash_text_right">ООО Торговые автоматы</div>
                    <div class="plash_text_left">Компании</div>
                </div>
            </div>
            <div class="str_nuz"></div>
        </div>
    </div>
</body>

</html>