<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Договоры</title>
    <link rel="stylesheet", href="static/styl.css">
</head>
<body>
    <div class="bly">
        <div class="str_verh"></div>
        <div class="avtor"></div>
    </div>

    <div class="container">
        <div class="menu">
            <h1>Навигация</h1>
            <ul>
                <li>
                    <a href="/">
                        <img src="/static/image/frame12.png", class="img">
                    </a>
                    <a href="/", class="link-as-text">
                        <h3>Главная</h3>
                    </a>
                </li>
                <li>
                    <a href="/torg">
                        <img src="/static/image/frame13.png", class="img">
                    </a>
                    <a href="/torg", class="link-as-text">
                        <h3>Торговые автоматы</h3>
                    </a>
                </li>
                <li>
                    <a href="/dogo">
                        <img src="/static/image/frame14.png", class="img">
                    </a>
                    <a href="/dogo", class="link-as-text">
                        <h3>Договоры</h3>
                    </a>
                </li>
                <li>
                    <a href="/nast">
                        <img src="/static/image/frame15.png", class="img">
                    </a>
                    <a href="/nast", class="link-as-text">
                        <h3>Настройки</h3>
                    </a>
                </li>
            </ul>
        </div>
        <div class="str">
            <div class="verh">
                <div class="zaeb">ООО Торговые Автоматы</div>
            </div>
            <div class="str_nuz"></div>
        </div>
            
        </div>
    </div>
</body>
</html>